<h1><%=@name%></h1>

<% if (@gif) %>
  <img src="https://aidenin.files.wordpress.com/2013/11/tamlip.gif" alt="gif of pet" />
<%end%>
<form class="" action="/new_pet" method="post">
  <h3>Give your Tamogachi a name</h3>
  <input type="text" name="name" id="name">
  <button type="submit" name="button">Make Pet</button>
</form>
