<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagochi</title>
  </head>
  <body>

    <style>
      body {
        text-align: center;
      }
      img {
        width: 80vw;
        height: 60vw:
      }
    </style>
    <%= yield %>
  </body>
</html>
