<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagochi</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>



    <script type="text/javascript" src="scripts.js">

    </script>
  </head>
  <body>

    <style>
      body {
        text-align: center;
      }
      img {
        width: 80vw;
        height: 60vw:
      }
    </style>
    <%= yield %>
    <a id="idle" href="/"></a>
  </body>
</html>
